@model MPAJukebox.Models.User

<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
<div class="container mt-5">
    <div class="form-container">
        <h2 class="text-center">Register</h2>
        <form method="post" asp-controller="Account" asp-action="Register">
            <p class="text-danger">@ViewData.ModelState["Email"]?.Errors.FirstOrDefault()?.ErrorMessage</p>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="Username" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="Email" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" required/>
            </div>
            <div class="form-group text-center mt-4">
                <button type="submit" class="button-clear">Register</button>
            </div>
        </form>
        <p class="text-center mt-3">
            Already have an account? <a asp-controller="Account" asp-action="Login" class="text-decoration-none">Login</a>
        </p>
    </div>
</div>
</body>
</html>