@model IEnumerable<MPAJukebox.Models.Song>

<div class="container mt-4">
    <h2>Songs in @Model.FirstOrDefault()?.Genre.Name</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Duration</th>
            <th>More</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td>@song.Title</td>
                <td>@song.Artist</td>
                <td>@song.Duration</td>
                <td><button class="song-button-more">•••</button></td>
            </tr>
        }
        </tbody>
    </table>
</div>