:root {
    --background-color: #F4F0D9;
    --text-color: #A6B37D;
    --primary-color: #B99470;
    --primary-hover-color: #966d54;
    --primary-border-color: #A6B37D;
    --secondary-color: #FEFAE0;
    --secondary-hover-color: #C0C78C;
    --error-color: #B99470;
    --valid-color: #C0C78C;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-shadow-color: rgba(0, 0, 0, 0.2);
}

/* Global Styles */
html, body {
    font-family: 'Hack Nerd Font', monospace;
    background-color: var(--background-color); /* Use background color from root */
    color: var(--text-color); /* Use text color from root */
}

/* Navbar Styles */
.navbar {
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--primary-border-color);
}

.navbar .nav-link {
    color: var(--secondary-color);
}

.navbar .nav-link:hover {
    color: var(--secondary-hover-color);
}

.navbar .navbar-brand {
    color: var(--secondary-color);
}

.navbar .navbar-brand:hover {
    color: var(--secondary-hover-color);
}

.nav-item {
    margin: 0 5px;
    color: var(--secondary-color);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.nav-item:hover {
    transform: scale(1.10);
    color: var(--secondary-hover-color);
}

/* Song Gallery */
.song-gallery {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
}

.gallery-item {
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 8px 16px var(--shadow-color);
    width: 900px;
    height: 700px;
    margin: 15px;
    padding: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery-item h4 {
    color: var(--primary-color);
    margin: 0;
    font-size: 3rem;
}

.gallery-item p {
    color: var(--text-color);
    margin: 0;
    font-size: 2rem;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--hover-shadow-color);
}

.song-button-more {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.song-button-more:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.10);
    box-shadow: 0 4px 8px var(--hover-shadow-color);
}

.dropdown-menu {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-border-color);
}

.dropdown-item {
    color: var(--secondary-color);
    transition: background-color 0.3s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.dropdown-item:hover {
    background-color: var(--primary-hover-color);
    color: var(--secondary-hover-color);
    transform: scale(1.05);
    box-shadow: 0 4px 8px var(--hover-shadow-color);
}

.dropdown-menu-end {
    transform: translate3d(-183px, -26px, 0px);
}

.album-cover {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border: 1px solid var(--primary-border-color);
}

/* Song Card */
.genre-card {
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
    width: 250px;
    height: 250px;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.genre-card:hover {
    transform: scale(1.10);
    box-shadow: 0 8px 16px var(--hover-shadow-color);
}

.genre-card h5 {
    font-size: 1.75rem;
    color: var(--primary-color);
}

.button-clear {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.4s ease, box-shadow 0.4s ease;
}

.button-clear:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.10);
    box-shadow: 0 4px 8px var(--hover-shadow-color);
}

/* Footer Styles */
.site-footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    border-top: 2px solid var(--primary-border-color);
    font-family: 'Hack Nerd Font', monospace;
}
